@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Ubuntu&display=swap');

$spacer: 18;

// Used to build utility classes.
$breakpoints: (
  'sm': (
    max-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
);

@import "mixin.build-media-queries";
@import "flex";
@import "grid";
@import "sizing";
@import "spacing";
@import "text";
@import "button";
@import "opacity";
@import "background";
@import "icon";
@import "border";
@import "animations";
@import "forms";
@import "link";
@import "overflow";
@import "card";
@import "tooltips";
@import "disable";

:root {
    --color-black: #000000;
    --color-dark: #040404;
    --color-dark-blue: #0e1318;
    --color-light: rgb(224, 224, 224);
    --color-text: rgb(154, 154, 154);
    --color-gray: #191519;
    --color-dark-gray: rgb(67, 67, 67);
    --color-green: #50e293;
    --color-blue: #0d7aba;
    --color-purple: #503189;
    --color-red: #ef2f2f;
    --color-pink: #f020ae;
    --color-gold: rgb(254, 173, 10);

    --base-font-size: #{$spacer}px;
    --font-family:  'Roboto', sans-serif;
    --font-light: 200;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    // Headers
    --h1-sm: 4rem;
    --h1-sm: 4rem;
    --h2-sm: 2.5rem;
    --h2-lg: 2.5rem;
    --h3: 1.7rem;
    --h4: 1.1rem;

    // Border
    --border-gray: solid 1px var(--color-light-gray);
    --border-radius: 0.5rem;
    --border-radius-less: 0.2rem;

    // Sizes
    --icon-large: 3rem;
    --icon-medium: 1.5rem;
    --icon-normal: 1rem;
    --app-max-width: 65rem;
    --nav-max-width: calc(var(--app-max-width) * 1.5);

    // Grid
    --grid-gap: 1rem;

    // Shadow
    --box-shadow: -0.15rem -0.15rem 0.75rem 0.05rem rgba(0, 0, 0, 0.475);

    --selected-theme: var(--color-green);
}

* {
  box-sizing: border-box;
}

html,
body {
    background: var(--color-dark);
    color: var(--color-light);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

html,
body {
  font-family: var(--font-family);
}

main {
    margin: 0 auto;
}

section {
    margin: 2rem 0;
    overflow-x: 0;
}

nav {
  max-width: 80rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    color: var(--color-light);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: var(--h2-lg);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

strong {
  letter-spacing: 1px;
}

h3.spaced {
    font-weight: 500;
    letter-spacing: 1rem;
}

p {
  color: var(--color-text);
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  word-break: break-word;
}

pre {
  font-size: 0.95rem;
}

::selection {
  background: var(--color-light); /* WebKit/Blink Browsers */
  color:  var(--color-dark);
}
::-moz-selection {
  background: var(--color-light); /* WebKit/Blink Browsers */
  color:  var(--color-dark);
}

.position-relative {
  position: relative;
}
